*{margin:0px;}
body {font-size:12px;color:#222;background:#fff; font-family:Tahoma, Geneva, sans-serif;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
li ul, li ol {margin:0px;}
ul, ol {margin:0 0 0 1.5em;}
ul { list-style:none;}

.clearfix:after, .head:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .head {display:block;}
.clear {clear:both;}
.clearing {clear: both; display: block; font-size:0px; display:none; overflow:hidden; line-height:0; height:0px}

.bottom { position:relative; clear:both;height:26px;line-height:26px; vertical-align:middle; padding-top:20px;}


.location{ float:left; width:100%; overflow:hidden; height:30px; line-height:30px; vertical-align:middle; border-bottom:1px solid #e5e5e5;}
.okbox{ float:left; width:99%; overflow:hidden; padding-top:30px;}
.processbox{ float:left; width:99%; overflow:hidden; }
.processtitle{width:100%; margin-top:30px; overflow:hidden; float:left;}
.processtitleimg{float:left;height:41px;padding-left:23px; padding-right:10px;}
.processtitletx{float:left; height:41px; line-height:41px; vertical-align:middle; font-size:14px; font-weight:bold; overflow:hidden;}
.processbz{padding:10px 0px 0px 33px; display:inline-block; overflow:hidden;}



.b1, .b2, .b3, .b4{font-size:1px; overflow:hidden; display:block;}
.b1 {height:1px; background:#d9d6d6; margin:0 5px;}
.b2 {height:1px; background:#fafafa; border-right:2px solid #d9d6d6; border-left:2px solid #d9d6d6; margin:0 3px;}
.b3 {height:1px; background:#fafafa; border-right:1px solid #d9d6d6; border-left:1px solid #d9d6d6; margin:0 2px;}
.b4 {height:2px; background:#fafafa; border-right:1px solid #d9d6d6; border-left:1px solid #d9d6d6; margin:0 1px;}
.contentb {background: #fafafa; border-right:1px solid #d9d6d6; border-left:1px solid #d9d6d6;}
.contentb div{ padding:3px;}


.inp_L1,.inp_L2,.inp_L3,.inp_L4{background:url(../images/css/bt_bg.gif) no-repeat; cursor:pointer; margin:0px; font-size:12px;}
.inp_L1{ width:67px; height:23px; background-position:-4px -4px; border:0; color:#464646; line-height:24px; vertical-align:middle;}
.inp_L2{ width:67px; height:23px; background-position:-4px -30px; border:0; color:#464646; line-height:24px; vertical-align:middle;}
.inp_L3{ width:96px; height:24px; background-position:-4px -55px; border:0; color:#464646; line-height:24px; vertical-align:middle;}
.inp_L4{ width:96px; height:24px; background-position:-4px -80px; border:0; color:#464646; line-height:24px; vertical-align:middle;}


a:link {color: #333333;text-decoration: none;}
a:visited {color: #333333;text-decoration: none;}
a:hover {color: #ff0000; text-decoration:underline;}
a:focus{ outline:0;}

.redfont {color: #ff0000;}

.redlink a:link {font-size: 12px;color: #ff0000;text-decoration: underline;}
.redlink a:visited {font-size: 12px;color: #ff0000;text-decoration:none;}
.redlink a:hover {font-size: 12px;color: #4c4948; text-decoration:none;}


.redlinku14 a:link {font-size: 14px;color: #ff0000;text-decoration: underline;}
.redlinku14 a:visited {font-size: 14px;color: #ff0000;text-decoration:underline;}
.redlinku14 a:hover {font-size: 14px;color: #4c4948; text-decoration:none;}

.redlinku a:link {font-size: 12px;color: #ff0000;text-decoration: underline;}
.redlinku a:visited {font-size: 12px;color: #ff0000;text-decoration:underline;}
.redlinku a:hover {font-size: 12px;color: #ff0000; text-decoration:none;}

.redfont {color: #ff0000;}



.pageinputtext {text-align:center; width:40px;}
.pagenavbtn {margin-left:5px}
.pageNavigation {float:left; width:98%; overflow:hidden; padding:10px 0 3px 0; text-align:right;}


.field_tipinfo, .error_tipinfo {width:250px; line-height:30px; font-size:12px; text-indent:2em; padding: 3px 5px 3px 20px;}
.field_tipinfo {color:#666; border:0px solid #fff;}
.error_tipinfo {color:#333; background:#FFF2E9 url(../images/fault.gif) no-repeat 1px; border:1px solid #FF6600; display:none}
.nes {background: url(../images/redstar.gif) no-repeat right;}
.msg {background:#FDFFCE none repeat scroll 0%; border:1px solid #FFBA43; margin-top:5px; padding:10px; width:350px;}
.readonly {color:#666666}


caption {font-size:14px; font-weight:bold; padding:0 0 10px 10px; text-align:left;}

.table_box{width:98%; padding-bottom:30px; margin-top:2px;}

.table_grid {
	border-collapse: collapse;
	border:solid #999;
	border-width:1px 0 0 1px;
	width:100%;margin:0px 5px;
}
.table_grid thead tr{ background:url(../images/tabletitle.gif) repeat-x; height:34px; line-height:34px;  font-weight:bold;}
.table_grid thead td{text-align:center;}
.table_grid th {background:url(../images/tabletitle.gif) repeat-x; height:34px; line-height:34px;  font-weight:bold;};
.table_grid th,.table_grid td {border:solid #d6d6d6;border-width:1px 1px;padding:2px;}
.table_grid td{  height:25px; line-height:25px; vertical-align:middle; padding-left:3px;}

.table_grid a:link {font-size: 12px;color: #ff0000;text-decoration: underline;}
.table_grid a:visited {font-size: 12px;color: #ff0000;text-decoration:none;}
.table_grid a:hover {font-size: 12px;color: #4c4948; text-decoration:none;}
.table_grid img  {border-width:0 0px 0px 0}
.table_grid .descorder {background-Image:url(../images/desc.png);background-repeat: no-repeat;background-position:right;}
.table_grid .ascorder  {background:url(../images/asc.png);background-repeat: no-repeat;background-position:right;}
.table_grid .titlerow{ background:url(../images/tabletitle.gif) repeat-x; height:34px; line-height:34px;  font-weight:bold;}
.table_grid .eee{ background:#fff;}
.table_grid .ddd{ background:#f7f7f7;}
/*.table_grid .on{ background:#d3ffaf}
.table_grid .click{ background:#007a8a;color:#fff;}*/


.table_grid {text-align:left;};


.table_grid_show {
	border-collapse: collapse;
	border:solid #999;
	border-width:1px 1px;
	width:100%;margin:0px 5px;
}
.table_grid_show thead tr{ background:url(../images/tabletitle.gif) repeat-x; height:34px; line-height:34px;  font-weight:bold;}
.table_grid_show thead td{text-align:center;}
.table_grid_show th {background:url(../images/tabletitle.gif) repeat-x; height:34px; line-height:34px;  font-weight:bold;};
.table_grid_show th,.table_grid_show td {border:solid #d6d6d6;border-width:1px 1px;padding:2px;}
.table_grid_show td{  height:25px; line-height:25px; vertical-align:middle; padding-left:3px;}

.table_grid_show a:link {font-size: 12px;color: #ff0000;text-decoration: underline;}
.table_grid_show a:visited {font-size: 12px;color: #ff0000;text-decoration:none;}
.table_grid_show a:hover {font-size: 12px;color: #4c4948; text-decoration:none;}
.table_grid_show img  {border-width:0 0px 0px 0}
.table_grid_show .titlerow{ background:url(../images/tabletitle.gif) repeat-x; height:34px; line-height:34px;  font-weight:bold;}
.table_grid_show .eee{ background:#fff;}
.table_grid_show .ddd{ background:#f7f7f7;}
.table_edit{border:0;margin:0;margin-top:15px;;border-collapse:collapse;border-spacing:0px;padd:expression(this.cellPadding=2); }

.break {word-break: break-all; word-wrap: break-word;}

.table_navi{float:left; width:99%; overflow:hidden; padding-top:20px; text-align:right;}




.btnbox {height:30px; margin-top:5px}
.btnbox input {margin-right:20px}

.userbox{float:left; width:99%; padding-top:30px;padding-bottom:30px;font-family:Tahoma, Geneva, sans-serif;}
.userbox_bt{background:url(../images/inputbg_text.gif) repeat-x;height:21px;border:1px solid #c3c3c3;overflow:hidden; padding:2px 0px 0px 5px; *padding:2px 0px 0px 5px; _padding:2px 0px 0px 5px; line-height:21px; vertical-align:middle;font-family:Tahoma, Geneva, sans-serif;}

input:focus, input.sffocus {background: #cfc;border:1px solid #090;font-family:Tahoma, Geneva, sans-serif;}

.userbt{ border:0px; background:url(../images/btbg.gif) no-repeat; width:96px; height:24px; line-height:24px; vertical-align:middle; overflow:hidden; cursor:pointer;}


 
.form_box {
	width:98%;
	margin:2px 5px;
	text-align:left;
	border:0px #1E7ACE solid;
}
.form_box fieldset {
	padding:10px;
	margin-top:5px;
	background:#ffff;
	-moz-border-radius:8px;	
}

.form_box fieldset legend {
	color:#1E7ACE;
	font-weight:bold;
	background:#fff;
}

.form_title {
	width:100%;
	border:solid #999;
	border-width:0px 0px;
	background:#ffffff;
}
.form_title td {text-align:left}

.table_grid_noline {
	border-collapse: collapse;
	border:solid #999;
	border-width:0px 0px;
	width:100%;margin:1px 1px;
	
}
.table_grid_noline tr {margin:0px;}

.table_grid_noline th {
	text-align:right;font-weight:normal;width:100px;		
	height:25px;font-size:12px;
	border:solid #d6d6d6;border-width:0px 0px;padding:0px;
	background:#E8EEFA;
}
.table_grid_noline td {
	height:25px;font-size:12px;
	border:solid #d6d6d6;border-width:0px 0px;padding:0px;
	background:#E8EEFA;/*#E8EEFA google锟斤拷录锟斤拷色*/	
}


.form_grid_edit {
	border-collapse: collapse;
	border:solid #999;
	border-width:0px 0px;
	width:100%;margin:0px 0px;
}
.form_grid_edit tr {margin:0px;}

.form_grid_edit th {
	text-align:right;font-weight:normal;width:100px;		
	height:25px;font-size:12px;
	border:solid #d6d6d6;border-width:1px 1px;padding:2px;
	background:#f5f5f5;
}
.form_grid_edit td {
	height:25px;font-size:12px;
	border:solid #d6d6d6;border-width:1px 1px;padding:2px;
}

.form_grid_show {
	border-collapse: collapse;
	border:solid #999;
	border-width:0px 0px;
	width:100%;margin:0px 0px;
}
.form_grid_show tr {margin:0px;}

.form_grid_show th {
	text-align:right;font-weight:normal;width:100px;		
	height:25px;font-size:12px;
	border:solid #d6d6d6;border-width:1px 1px;padding:2px;
	background:#f5f5f5;
}
.form_grid_show td {
	height:25px;font-size:12px;
	border:solid #d6d6d6;border-width:1px 1px;padding:2px;
}

.form_label {
	text-align:right;font-weight:normal;width:100px;		
	height:25px;font-size:12px;
	border:solid #999;border-width:1px 1px;padding:2px;
	background:#f5f5f5;
	}

.form_grid_search {
	border-collapse: collapse;
	border:solid #999;
	border-width:0px 0px;
	width:100%;margin:0px 0px;
}
.form_grid_search tr {margin:0px;}

.form_grid_search th {
	text-align:right;font-weight:normal;width:100px;		
	height:25px;font-size:12px;
	border:solid #999;border-width:1px 1px;padding:2px;
	background:#f5f5f5;
}
.form_grid_search td {
	height:25px;font-size:12px;
	border:solid #999;border-width:0px 0px;padding:2px;
}

input.error,textarea.error {
	border:solid 1px #CD0A0A;
} 
label.error {  
	margin-left:10px;
    color:red;
	float:none;
    vertical-align:middle;    
}
.mask {
display: none; 
position: absolute; top: 0%; left: 0%; width: 100%; height: 100%;
background-color: black; z-index:1001; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80); 
 
}

<!--
	用于列表中的样式
-->
table tr.curr_beha_bgcolor td{
	cursor:hand;
	background-color: #99bbe8;
}

<!--
	用于列表中的样式 一级
-->
table tr.curr_beha_bgcolor1 td{
	cursor:hand;
	background-color: #BDEBEE;
}

<!--
	用于列表中的样式 二级
-->
table tr.curr_beha_bgcolor2 td{
	cursor:hand;
	background-color: #FFEC98;
}

<!--
	用于列表中的样式 三级
-->
table tr.curr_beha_bgcolor3 td{
	cursor:hand;
	background-color: #00CD66;
}

table tr.beha_bgcolor td {
	background-color: white;
}

  .textslip{
	 width:100px;
	 white-space:nowrap;
	 overflow:hidden;
	 text-overflow:ellipsis;
  }
	